@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');@import "tailwindcss";

@theme {
  --color-bg: #222223;
  --color-bg-1: #303031;

  --color-fg: #F4F5F5;
  --color-border: #444445;
  --color-muted: #AAAAAB;

  /* --font-sans: "Open Sans", sans-serif; */
}

body {
  @apply bg-bg text-fg;
}
